<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="row mt-4" style="margin-left: 1%; border: 4px solid rgb(184, 182, 182);">
    <div class="col-md-1" style="background-color: rgb(149, 198, 244);">
      <div>
        <div style="margin-top: 10px;" *ngFor="let image of images; let i = index"
          [style.borderStyle]="i === currentIndex ? 'solid' : 'none'" [style.display]="'inline-block'">
          <img src="{{image}}" (click)="showImage(i)" width="100%" height="100%">
        </div>
      </div>
    </div>
    <div class="col-md-7" style="border: 4px solid rgb(184, 182, 182);">
      <!-- Formulaire de saisie -->
      <div class="form-container mt-4" fxFlex="50">
        <form [formGroup]="form">


          <!-- ======================================================================= -->
          <div class="row">
            <div class="col-md-10">
              <div class="image-container" fxFlex="50">
                <input placeholder="image" type="file" (change)="displayImage($event)" accept=".jpeg, .png, .gif, .pdf"
                  capture="user" multiple />
              </div>
            </div>
            <div class="col-md-2">
              <button mat-raised-button color="warn" (click)="quiter()">Quiter</button>
            </div>
          </div>



          <!-- ======================================================================= -->
          <div class="row">
            <div class="col-md-6 mt-5">
              <mat-icon>folder</mat-icon>
              <span style="margin-left: 10px;">CLASSE</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select formControlName="parentClasse">
                  <span *ngFor="let cl of listeClass, let l = index">
                    <mat-option (click)="checkValClass()" [value]="cl.value">{{cl.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-5">
              <mat-icon>folder_open</mat-icon>
              <span style="margin-left: 10px;">SOUS-CLASSE</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select formControlName="sousClasse">
                  <span *ngFor="let sous_classe of listeSousClass, let j = index">
                    <mat-option (click)="checkValClass()" [value]="sous_classe.value">{{sous_classe.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


          <!-- ======================================================================= -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select formControlName="compte">
                  <span *ngFor="let choix1 of valueSelect, let j = index">
                    <mat-option [value]="choix1.value">{{choix1.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill" style="width: 100%;">
                <input matInput formControlName="fournisseur" type="text">
              </mat-form-field>
            </div>
          </div>

          <!-- ======================================================================= -->
          <div class="row mt-3">
            <div class="col-md-4">
              <mat-icon>date_range</mat-icon>
              <span style="margin-left:10px">Date</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input formControlName="date" matInput type="date">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-icon>receipt</mat-icon>
              <span style="margin-left:10px">Numéro de facture</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input formControlName="numFac" matInput>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-icon>payment</mat-icon>
              <span style="margin-left:10px">Mode de règlement</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select formControlName="reglement">
                  <span *ngFor="let lgt of listeModeReglement, let j = index">
                    <mat-option [value]="lgt.value">{{lgt.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
          </div>



          <!-- ======================================================================= -->
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-icon>info</mat-icon>
              <span style="margin-left:10px">Autre info</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input formControlName="AutreInfo" matInput type="text">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-icon>attach_money</mat-icon>
              <span style="margin-left:10px">TTC</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input matInput formControlName="ttc">
              </mat-form-field>
            </div>
          </div>


          <!-- ======================================================================= -->
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-icon>description</mat-icon>
              <span style="margin-left:10px">Nature</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select formControlName="nature">
                  <span *ngFor="let nature of listeNature, let n = index">
                    <mat-option [value]="nature.numero">{{nature.numero}} - {{nature.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
            </div>
          </div>


          <!-- ======================================================================= -->
          <div class="row mt-3">
            <div class="col-md-3">
              <mat-icon>monetization_on</mat-icon>
              <span style="margin-left:10px">Taux Tva</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-select formControlName="TauxTva">
                  <span *ngFor="let choix1 of valueTva, let a = index">
                    <mat-option (click)="calculeCompta(choix1.value)"
                      [value]="choix1.value">{{choix1.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-icon>attach_money</mat-icon>
              <span style="margin-left:10px">Mht</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input matInput type="text" [value]="Mht">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-icon>monetization_on</mat-icon>
              <span style="margin-left:10px">M Tva</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input matInput type="text" [value]="Tva">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <button mat-raised-button color="primary" style="width: 100%; margin-top: 40px;"
                (click)="submitForm()">Validé facture</button>
            </div>
          </div>

        </form>
      </div>


      <!-- ======================================================================= -->
      <table class="table mt-4 table-bordered table-hover">
        <tr>
          <th>Date</th>
          <th>journal</th>
          <th>compte</th>
          <th>numéro de pièces</th>
          <th>libellé</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>actions</th>
        </tr>
        <tbody *ngFor="let item of results; let i = index">
          <tr>
            <td>
              <input #date class="form-control" [placeholder]="item.date" [value]="item.date"
                (keyup)="vedebit1(date, 'date', i)" />
            </td>
            <td>
              <input #sousClasse class="form-control" [placeholder]="item.sousClasse" [value]="item.sousClasse"
                (keyup)="vedebit1(sousClasse, 'sousClasse', i)" />
            </td>
            <td>
              <input #compte class="form-control" [placeholder]="item.compte" [value]="item.compte"
                (keyup)="vedebit1(compte, 'compte', i)" />
            </td>
            <td>
              <input #fileName class="form-control" [placeholder]="item.fileName" [value]="item.fileName"
                (keyup)="vedebit1(fileName, 'fileName', i)" />
            </td>
            <td>
              <input #fournisseur class="form-control" [placeholder]="item.fournisseur" [value]="item.fournisseur"
                (keyup)="vedebit1(fournisseur, 'fournisseur', i)" />
            </td>
            <td>
              <input #veTtc class="form-control" [placeholder]="item.veTtc" [value]="item.veTtc"
                (keyup)="vedebit1(veTtc, 'veTtc', i)" />
            </td>
            <td>
              <input #acTtc class="form-control" [placeholder]="item.acTtc" [value]="item.acTtc"
                (keyup)="vedebit1(acTtc, 'acTtc', i)" />
            </td>
            <td><button class="btn btn-danger" (click)="removeItem(i)">remove</button></td>
          </tr>
          <tr>
            <td><input #date class="form-control" [placeholder]="item.date" [value]="item.date"
                (keyup)="vedebit1(date, 'date', i)" /></td>
            <td>
              <input #sousClasse class="form-control" [placeholder]="item.sousClasse" [value]="item.sousClasse"
                (keyup)="vedebit1(sousClasse, 'sousClasse', i)" />
            </td>
            <td>
              <input #classe6 class="form-control" [placeholder]="item.classe6" [value]="item.classe6"
                (keyup)="vedebit1(classe6, 'classe6', i)" />
            </td>
            <td>
              <input #fileName class="form-control" [placeholder]="item.fileName" [value]="item.fileName"
                (keyup)="vedebit1(fileName, 'fileName', i)" />
            </td>
            <td>
              <input #fournisseur class="form-control" [placeholder]="item.fournisseur" [value]="item.fournisseur"
                (keyup)="vedebit1(fournisseur, 'fournisseur', i)" />
            </td>
            <td>
              <input #veDebit1 class="form-control" [placeholder]="item.veDebit1" [value]="item.veDebit1"
                (keyup)="vedebit1(veDebit1, 'veDebit1', i)" />
            </td>
            <td>
              <input #veCredit1 class="form-control" [placeholder]="item.veCredit1" [value]="item.veCredit1"
                (keyup)="vedebit1(veCredit1, 'veCredit1', i)" />
            </td>
            <td><button class="btn btn-danger" (click)="removeItem(i)">remove</button></td>
          </tr>
          <tr *ngIf="(item.TauxTva != 'CLIENT 0%')">
            <td>
              <input #date2 class="form-control" [placeholder]="item.date2" [value]="item.date2"
                (keyup)="vedebit1(date2, 'date2', i)" />
            </td>
            <td>
              <input #sousClasse2 class="form-control" [placeholder]="item.sousClasse2" [value]="item.sousClasse2"
                (keyup)="vedebit1(sousClasse2, 'sousClasse2', i)" />
            </td>
            <td>
              <input #TauxTva2 class="form-control" [placeholder]="item.TauxTva2" [value]="item.TauxTva2"
                (keyup)="vedebit1(TauxTva2, 'TauxTva2', i)" />
            </td>
            <td>
              <input #TauxTva2 class="form-control" [placeholder]="item.fileName2" [value]="item.fileName2"
                (keyup)="vedebit1(fileName2, 'fileName2', i)" />
            </td>
            <td>
              <input #fournisseur class="form-control" [placeholder]="item.fournisseur2" [value]="item.fournisseur2"
                (keyup)="vedebit1(fournisseur2, 'fournisseur2', i)" />
            </td>
            <td>
              <input #veDebit2 class="form-control" [placeholder]="item.veDebit2" [value]="item.veDebit2"
                (keyup)="vedebit1(veDebit2, 'veDebit2', i)" />
            </td>
            <td>
              <input #veCredit2 class="form-control" [placeholder]="item.veCredit2" [value]="item.veCredit2"
                (keyup)="vedebit1(veCredit2, 'veCredit2', i)" />
            </td>
            <td><button class="btn btn-danger" (click)="removeItem(i)">remove</button></td>
          </tr>
        </tbody>

        <tr *ngFor="let item of newLists; let i = index">
          <td>
            <input #dateN class="form-control" [placeholder]="item.date" [value]="item.date"
              (keyup)="vedebit1N(dateN, 'date', i)" />
          </td>
          <td>
            <input #sousClasseN class="form-control" [placeholder]="item.sousClasse" [value]="item.sousClasse"
              (keyup)="vedebit1N(sousClasseN, 'sousClasse', i)" />
          </td>
          <td>
            <input #compteN class="form-control" [placeholder]="item.compte" [value]="item.compte"
              (keyup)="vedebit1N(compteN, 'compte', i)" />
          </td>
          <td>
            <input #fileNameN class="form-control" [placeholder]="item.fileName" [value]="item.fileName"
              (keyup)="vedebit1N(fileNameN, 'fileName', i)" />
          </td>
          <td>
            <input #fournisseurN class="form-control" [placeholder]="item.fournisseur" [value]="item.fournisseur"
              (keyup)="vedebit1N(fournisseurN, 'fournisseur', i)" />
          </td>
          <td>
            <input #veTtcN class="form-control" [placeholder]="item.veTtc" [value]="item.veTtc"
              (keyup)="vedebit1N(veTtcN, 'veTtc', i)" />
          </td>
          <td>
            <input #acTtcN class="form-control" [placeholder]="item.acTtc" [value]="item.acTtc"
              (keyup)="vedebit1N(acTtcN, 'acTtc', i)" />
          </td>
          <td><button class="btn btn-danger" (click)="removeItem(i,'new')">remove</button></td>
        </tr>

      </table>
      <button class="btn btn-success" (click)="newLine()">add</button>
      <div>
        <button mat-raised-button color="primary" (click)="export()" class="mt-2 mb-3">
          Export Excel
        </button>
      </div>
    </div>

    <div (mousewheel)="onScroll($event)" (DOMMouseScroll)="onScroll($event)" class="col-md-4"
      style="border: 4px solid rgb(184, 182, 182); background-color: rgb(149, 198, 244);">

      <div class="col-md-12" style="text-align: center; margin-top: 5px; margin-bottom: 5px;">
        <button mat-raised-button color="primary" (click)="prevImage()">Previous</button>
        <button mat-raised-button color="primary" (click)="nextImage()"
          style="margin-left: 5px; margin-right: 20px;">Next</button>
        <!-- <button style="border-radius: 40%; width: 30px;" (click)="zoomIn()">+</button>
        <button style="border-radius: 40%; width: 30px;" (click)="zoomOut()">-</button> -->
      </div>


      <img *ngIf="imageSrc" alt="myimage" [style.transform]="'scale(' + zoomValue + ')'" class="img-fluid"
        [src]="imageSrc" width="100%" height="100%" />
      <pdf-viewer *ngIf="pdfSrc" [src]="pdfSrc" [style.transform]="'scale(' + zoomValue + ')'" [rotation]="0"
        [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="1" [zoom-scale]="'page-width'"
        [stick-to-page]="false" [render-text]="true" [external-link-target]="'blank'" [autoresize]="true"
        [show-borders]="false" style="width: 100%; height: 600px;"></pdf-viewer>

    </div>

  </div>



</body>

</html>