<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="row mt-4" style="margin-left: 1%; border: 4px solid rgb(184, 182, 182);">
    <div class="col-md-1"></div>
    <div class="col-md-6" style="border: 4px solid rgb(184, 182, 182);">
      <!-- Formulaire de saisie -->
      <div class="form-container mt-4" fxFlex="50">
        <form [formGroup]="form">


          <!-- ======================================================================= -->
          <div class="image-container" fxFlex="50">
            <input placeholder="image" type="file" (change)="displayImage($event)" accept=".jpeg, .png, .gif, .pdf"
              capture="user" multiple />
          </div>


          <!-- ======================================================================= -->
          <div class="row">
            <div class="col-md-6 mt-5">
              <mat-icon>folder</mat-icon>
              <span style="margin-left: 10px;">CLASSE</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select formControlName="parentClasse">
                  <span *ngFor="let cl of listeClass, let l = index">
                    <mat-option (click)="checkValClass()" [value]="cl.value">{{cl.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-5">
              <mat-icon>folder_open</mat-icon>
              <span style="margin-left: 10px;">SOUS-CLASSE</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select formControlName="sousClasse">
                  <span *ngFor="let sous_classe of listeSousClass, let j = index">
                    <mat-option (click)="checkValClass()" [value]="sous_classe.value">{{sous_classe.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


          <!-- ======================================================================= -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select formControlName="compte">
                  <span *ngFor="let choix1 of valueSelect, let j = index">
                    <mat-option [value]="choix1.value">{{choix1.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill" style="width: 100%;">
                <input matInput formControlName="fournisseur" type="text">
              </mat-form-field>
            </div>
          </div>

          <!-- ======================================================================= -->
          <div class="row mt-3">
            <div class="col-md-4">
              <mat-icon>date_range</mat-icon>
              <span style="margin-left:10px">Date</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input formControlName="date" matInput type="date">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-icon>receipt</mat-icon>
              <span style="margin-left:10px">Numéro de facture</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input formControlName="fileName" [value]="fileName" matInput>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-icon>payment</mat-icon>
              <span style="margin-left:10px">Mode de règlement</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select>
                  <span *ngFor="let lgt of listeModeReglement, let j = index">
                    <mat-option [value]="lgt.value">{{lgt.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
          </div>



          <!-- ======================================================================= -->
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-icon>info</mat-icon>
              <span style="margin-left:10px">Autre info</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input matInput type="text">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-icon>attach_money</mat-icon>
              <span style="margin-left:10px">TTC</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input matInput formControlName="ttc">
              </mat-form-field>
            </div>
          </div>


          <!-- ======================================================================= -->
          <div class="row mt-3">
            <div class="col-md-6">
              <mat-icon>description</mat-icon>
              <span style="margin-left:10px">Nature</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>votre choix</mat-label>
                <mat-select formControlName="nature">
                  <span *ngFor="let nature of listeNature, let n = index">
                    <mat-option [value]="nature.numero">{{nature.numero}} - {{nature.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
            </div>
          </div>


          <!-- ======================================================================= -->
          <div class="row mt-3">
            <div class="col-md-3">
              <mat-icon>monetization_on</mat-icon>
              <span style="margin-left:10px">Taux Tva</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-select formControlName="TauxTva">
                  <span *ngFor="let choix1 of valueTva, let a = index">
                    <mat-option (click)="calculeCompta(choix1.value)"
                      [value]="choix1.value">{{choix1.value}}</mat-option>
                  </span>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-icon>attach_money</mat-icon>
              <span style="margin-left:10px">Mht</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input matInput type="text" [value]="Mht">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-icon>monetization_on</mat-icon>
              <span style="margin-left:10px">M Tva</span>
              <mat-form-field appearance="fill" style="width: 100%;">
                <input matInput type="text" [value]="Tva">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <button mat-raised-button color="primary" style="width: 100%; margin-top: 40px;"
                (click)="submitForm()">Validé facture</button>
            </div>
          </div>

        </form>
      </div>


      <!-- ======================================================================= -->
      <table class="table mt-4 table-bordered table-hover">
        <tr>
          <th>Date</th>
          <th>journal</th>
          <th>compte</th>
          <th>numéro de pièces</th>
          <th>libellé</th>
          <th>Debit</th>
          <th>Credit</th>
        </tr>
        <tbody *ngFor="let item of results; let i = index">
          <tr>
            <td>{{item.date}}</td>
            <td>{{item.sousClasse}}</td>
            <td>{{item.compte}}</td>
            <td>{{item.fileName}}</td>
            <td>{{item.fournisseur}}</td>
            <td>{{item.veTtc}}<input [value]="item.veTtc" [(ngModel)]="currentVeTtc" (input)="vedebit1(i)" /></td>
            <td>{{item.acTtc}}</td>
          </tr>
          <tr>
            <td>{{item.date}}</td>
            <td>{{item.sousClasse}}</td>
            <td>{{item.nature}}</td>
            <td>{{item.fileName}}</td>
            <td>{{item.fournisseur}}</td>
            <td>{{item.veDebit1}}</td>
            <td>{{item.veCredit1}}</td>
          </tr>
          <tr>
            <td>{{item.date}}</td>
            <td>{{item.sousClasse}}</td>
            <td>{{item.TauxTva}}</td>
            <td>{{item.fileName}}</td>
            <td>{{item.fournisseur}}</td>
            <td>{{item.veDebit2}}</td>
            <td>{{item.veCredit2}}</td>
          </tr>
        </tbody>
      </table>

      <div>
        <button mat-raised-button color="primary" (click)="export()" class="mt-2 mb-3">
          Export Excel
        </button>
      </div>
    </div>

    <div class="col-md-5" style="border: 4px solid rgb(184, 182, 182); background-color: rgb(149, 198, 244);">

      <div>
        <button (click)="prevImage()">Previous</button>
        <button (click)="nextImage()">Next</button>
      </div>
      <div>
        <div *ngFor="let image of images; let i = index" [style.borderStyle]="i === currentIndex ? 'solid' : 'none'"
          [style.display]="'inline-block'">
          <img src="{{image}}" (click)="showImage(i)" width="100" height="100">
        </div>
      </div>


      <img *ngIf="imageSrc" alt="myimage" class="img-fluid" [src]="imageSrc" width="100%" height="100%" />
      <pdf-viewer *ngIf="pdfSrc" [src]="pdfSrc" [rotation]="0" [original-size]="false" [show-all]="true"
        [fit-to-page]="false" [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
        [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
        style="width: 100%; height: 600px;"></pdf-viewer>

    </div>

  </div>



</body>

</html>