
    <div class="wrapper" style="background-color: #508bfc;">
      <div class="logo">
          <img src="assets/avatar.png" alt="">
      </div>
      <div class="text-center mt-4 name" style="color: aliceblue;">
        kama kely ankira
        saisie comptable
      </div>
      <form [formGroup]="form" class="p-3 mt-3">
          <div class="form-field d-flex align-items-center">
              <span class="far fa-user"></span>
              <input type="text" formControlName="user" id="userName" placeholder="Username">
          </div>
          <div class="form-field d-flex align-items-center">
              <span class="fas fa-key"></span>
              <input type="password" formControlName="pw" placeholder="Password">
          </div>
          <button (click)="login()" class="btn mt-3">Login</button>
      </form>
      <!-- <div class="text-center fs-6">
          <a href="#" style="color: aliceblue;">Forget password?</a> or <a href="#" style="color: aliceblue;">Sign up</a>
      </div> -->
  </div>


